/* .full-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
} */
.left-container {
    background-image: url("../assets/Background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    /* min-height: 800px; */
    /* max-height: 2560px; */
}


.btn-option {
    color: white;
    background: linear-gradient(180deg, #4363F8 0%, #2748E1 100%);
}

.heading {
    /* max-width: 634px; */
    margin-top: 106px;
    font-weight: 500;
    /* margin-left: 40px; */
}

@media (max-width:768px) {
    .heading {
        margin-top: 68px;
        font-weight: 400;
    }
}

.heading span {
    /* color: linear-gradient( #2C43B8 100%); */
    color: #2C43B8
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* .logo-right {
    margin-left: 56px;
    margin-top: 83px;
} */

.customise-container h1 {
    font-weight: 500;
    /* font-size: 32px; */
    color: #26203B;
}

@media (max-width:430px) {
    .customise-container h1 {
        font-weight: 600;
        font-size: 16px;
        color: #26203B;
    }

    .logo-right {
        margin-left: 138px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}