.btn-next{
    border-radius: 32.5px;
    color: white;
    padding: 8px 0px;
    padding-left: 20px;
    padding-right: 8px;
    background: linear-gradient(180deg, #4363F8 0%, #2748E1 100%);
}

.btn-next img{
    /* background:url("../assets/circle.svg"); */
    background-color: #223CB2;
    border-radius: 20px;
    padding: 10px 8px;
    align-items: end;
}